.todo-container {
  max-width: 440px;
  box-shadow: 2px 2px 2px 2px #eae2e2;
  min-height: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}
.todo-input {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(208, 231, 231);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.todo-add {
  background-color: purple;
  color: #eae2e2;
  padding: 10px;
  border-radius: 10px;
}
.update-button {
  display: flex;
  gap: 10px;
}
